@(controller: de.htwg.cityyanderecarcassonne.controller.ICarcassonneController)

@main("City Yandere Carcassonne") {
    <div class="game">
        <div class="gamecontent">
                <div class="col-xs-12 col-md-10 townsquare" id="townsquare">
                    <ts-row
                        v-for="y in array"
                        v-bind:row="y">
                    </ts-row>
                </div>
            <div class="col-xs-3 col-md-2 gameinfo">
                <div class="currentcard">
                    Current card<br>
                </div>
                <div class="cardsleft">
                    Cards remaining: @(controller.getRemainingCards)
                </div>
                <div class="rotator">
                    <button type="button" id="rotleft" class="btn btn-default btn-sm">Rotate left</button><button type="button" id="rotright" class="btn btn-default btn-sm">Rotate right</button>
                </div>
                <div class="roundcontroller">
                    <button type="button" id="roundctrl" class="btn btn-default">Start Game</button>
                </div>
                <div class="playerpanel">
                    Player:
                    <div class="playerlist" id="playerlist">
                        <player-item
                                v-for="item in playerList"
                                v-bind:player="item"
                                v-bind:key="item.id">
                        </player-item>
                    </div>
                    <button type="button" id="addplayer" class="btn btn-default" data-toggle="modal" data-target="#addPlayerModal">Add Player!</button>
                </div>
            </div>
        </div>
    </div>

    <!-- AddPlayerModal -->
    <div id="addPlayerModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Let's add a new player!</h4>
                </div>
                <div class="modal-body">
                    Name:&nbsp;
                    <input type="text" id="playername" autofocus/>
                </div>
                <div class="modal-footer">
                    <button type="button" id="addplayerbtn" class="btn btn-default" data-dismiss="modal">Add Player</button>
                </div>
            </div>

        </div>
    </div>

    <script src="@routes.Assets.versioned("javascripts/cyc.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/jQueryRotate.js")" type="text/javascript"></script>
}