@(tuiprint: String)

@main("City Yandere Carcassonne") {
    <script>
            window.onload=toBottom;

            function toBottom()
            {
                window.scrollTo(0, document.body.scrollHeight);
            }
    </script>
    <font face="Consolas">
        <code>@Html(tuiprint)</code>
    </font>
    @helper.form(action = routes.CarcassonneWebController.cycarcassonnePost()) {
        <input type="text" name="command" autofocus />
        <input type="submit" value="Send command" />
    }
}