@(controller: de.htwg.cityyanderecarcassonne.controller.ICarcassonneController)

@main("City Yandere Carcassonne") {
    <div class="game">
        <div class="gamecontent">
            <div class="townsquare">

            </div>
            <div class="gameinfo">
                <div class="currentcard">

                </div>
                <div class="playerpanel">
                    <div class="player">
                        @if((controller.getCurrentPlayer() != null) && (controller.getCurrentPlayer.getName() != null)) {
                            @{"Current Player: " + controller.getCurrentPlayer().getName()}
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="textinput">
            @helper.form(action = routes.CarcassonneWebController.cycarcassonnePost()) {
                <input type="text" name="command" autofocus />
                <input type="submit" value="Send command" />
            }
        </div>
    </div>
}