@(message: String)

    @main("City Yandere Carcassonne") {

        <center>
            <h1>@message</h1>
            <img src="https://i.imgur.com/Mj2iT9d.gif" border="0" alt="wow" />
            <table cellpadding="10">
                <tr>
                    <td>
                        <a href="/cycarcassonne/h"><img src="http://www.animierte-gifs.net/data/media/111/animiertes-pfeile-bild-0032.gif" border="0" alt="animiertes-pfeile-bild-0032" /></a>
                    </td>
                    <td>
                        <a href="/cycarcassonne/h"><font size="6"><b>Play City Yandere Carcassonne!</b></font></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <!-- HTML Ninja -->
                    </td>
                    <td>
                        <font size="5"><a href="/rules">Game rules</a></font>
                    </td>
                </tr>
            </table>
            <img src="http://www.animierte-gifs.net/data/media/209/animiertes-katze-bild-0072.gif"  border="0" alt="running cat" />
            <img src="http://www.animierte-gifs.net/data/media/209/animiertes-katze-bild-0072.gif"  border="0" alt="running cat" />
            <img src="http://www.animierte-gifs.net/data/media/209/animiertes-katze-bild-0072.gif"  border="0" alt="running cat" />
            <img src="http://www.animierte-gifs.net/data/media/209/animiertes-katze-bild-0072.gif"  border="0" alt="running cat" />

        </center>

    }
