@()
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.PagesController.index">CityYandereCarcassonne</a>
        </div>
        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="@routes.PagesController.index"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="@routes.CarcassonneWebController.cycarcassonne("h")"><span class="glyphicon glyphicon-tower"></span> Play City Yandere Carcassonne!</a></li>
                <li><a href="@routes.PagesController.rules"><span class="glyphicon glyphicon-bullhorn"></span> Game Rules</a></li>
            </ul>
        </div>
    </div>
</nav>